
$black-70: rgba(0, 0, 0, .7);
$black-50: rgba(0, 0, 0, .5);
$french-blue: #3f51b5;
$green: #4CAF50;
$green-200: #A5D6A7;
$yellow: #FFC107;
$orange-red: #ff5722;
$orange-300: #FF7E5A;
$indigo: #3F51B5;

$header-height: 64px;