.footer-social__list {
  list-style: none;
  margin-bottom: 12px;
}

.footer-social__list-item {
  display: inline-block;
  margin-right: 5px;
}

.footer-social__image {
  width: 32px;
}

@include media-breakpoint-up(md) {
  .footer-social__list {
    text-align: right;
  }

  .footer-social__list-item {
    margin-left: 8px;
  }

  .footer-social__image {
    width: 50px;
  }
}